body {
  font-family: 'Outfit', sans-serif;
}

.container {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

/******** START OF CSS FOR NAV BAR *******/
.logo {
  max-width: 1.5rem;
  max-height: 1.2rem;
}

.budgetwise_text {
  margin-left: .7rem;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 3rem;
}

header {
  text-align: center;
  margin-right: auto;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 2%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navigation_bar_container {
  display: flex;
  justify-content: flex-start;
}

.nav_links li,
a {
  font-weight: 500;
  font-size: 16px;
  color: #707070;
  text-decoration: none;
}

.logo_container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  margin: .2rem 0;
}

.nav_links {
  margin-left: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.3 ease 0s;
}

.nav_links li a:hover {
  color: #5157BF;
  text-decoration: underline;
}

.john_doe_profile_picture {
  max-width: 2rem;
  border-radius: 50%;
  margin-left: auto;
}

.users_profile {
  display: flex;
  cursor: pointer;
}

.user_name {
  margin-top: .35rem;
  margin-left: 1rem;
  font-weight: 600;
}

.caret_icon {
  margin-left: 2rem;
  margin-top: .35rem;
  max-width: 2rem;
  max-height: 1rem;
}

.profile_button {
  border: none;
  display: flex;
  cursor: pointer;
}

/******** END OF CSS FOR NAV BAR *******/

/******** START OF CSS FOR HOMEPAGE *******/
.homepage_container {
  display: flex;
}

.side_navigation_bar_container {
  flex: .6;
}

.budget_dropdown_container {
  flex: 1.6;
  margin-top: 5rem;
  margin-left: 1rem;
}

.important_budget_details_container {
  flex: 2;
  width: 100%;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 3rem;
}

/******** END OF CSS FOR HOMEPAGE *******/