div .budgetDropdown_container {
  margin-top: 5rem;
  margin-left: 1.4rem;
  display: flex;
}

.caret_icon2 {
  margin-top: .5rem;
  max-width: 2rem;
  max-height: 1rem;
  margin-left: 1rem;
}