.font {
  font-size: 1rem;
}

.categories_font {
  font-size: .9rem;
}

.font,
.categories_font {
  font-weight: 600;
}

.left_font {
  font-size: .8rem;
}

.margin_bottom {
  margin-bottom: 2rem;
}

.progress-bar-container {
  height: 8px;
  background-color: #ccc;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 1.5rem ;
}

.progress-bar {
  height: 100%;
  transition: width 0.3s ease;
}

.gray {
  color: gray
}

.green {
  color: #53BD71;
}

.white {
  color: white;
}