.overall_container {
  display: flex;
  margin-left: 6rem;
  padding: 1rem 3rem;
  border: 2px solid gray;
  border-radius: 20px;
  color: black;
  text-align: center;
  width: 100%;
  margin-right: -2rem;
  justify-content: center;
}

.spent_container,
.available_container,
.budget_container {
  padding: 1rem

}

.horizontal_line {
  height: 3rem;
  text-align: center;
  margin-top: .6rem;
  color: black; 
  border: 1px solid black;
}