.overall_container {
  display: flex;
  margin-left: 6rem;
  padding: 1rem 0;
  border: 1.2px solid gray;
  border-radius: 20px;
  color: black;
  text-align: center;
  width: 100%;
  margin-right: -2rem;
  justify-content: center;
}

.spent_container,
.available_container,
.budget_container {
  padding: 1rem 2rem;
}

.horizontal_line {
  height: 3rem;
  text-align: center;
  margin-top: .6rem;
  color: black; 
  border: .5px solid #8F8F8F;
}

.overall_spent_font,
.overall_available_font, 
.overall_budget_font {
  font-size: .8rem;
  font-weight: 550;
  color: #8F8F8F;
  padding-bottom: .3rem;
}

.overall_spent_amount_font,
.overall_available_amount_font,
.overall_budget_amount_font {
  font-size: 1rem;
  font-weight: 550;
}

.red {
  color: red;
}

.green {
  color: green
}