.recent_transactions_container {
  margin-left: 7rem;
  margin-top: 2rem;
}

.recent_transactions_label_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent_transactions_title {
  font-size: 1rem;
  font-weight: 550;
}

.recent_transactions_label_container p {
  cursor: pointer;
}