.saving_overall_container {
  margin-left: 7rem;
}

.saving_container {
  display: flex;
  flex-direction: column;
  border: 1.5px solid #c1bcbc;
  /* align-items: center; */
  border-radius: 25px;
  padding: 1rem;
}

.saving_lable_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.saving_see_details {
  color: purple;
}

.trip_container_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}

.saving_logo {
  border-radius: 26%;
  background-color: rgb(237, 236, 236);
  margin: 1rem;
}

.saving_item {
  font-weight: 550;
  align-items: center;
  font-weight: normal;
  cursor: pointer;
}

.fa_plus {
  cursor: pointer;
}

.saving_company {
  font-size: .8rem;
  font-weight: 550;
  color: #707070;
}

.saving_details {
  /* margin-right: 2rem; */
  text-align: center;
  width: auto;
}

.saving_caret_icon {
  max-width: 2rem;
  max-height: 1rem;
}

.saving_details_container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.saving_information {
  position: relative;
  width: 70%;
  text-align: center;
  margin-top: 2.2rem;
  margin-left: 1.2rem;
  border-radius: 35px;
  overflow: hidden; /* Ensure overflow is hidden to make border-radius visible */
}

.saving_progress_bar {
  width: 8rem;
  height: 8rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background: conic-gradient(#53BD71 50%, gray 50%);
  background-size: 100%;
}

.saving_information p {
  font-size: .8rem
}

.saving_progress_bar::before {
  content: '';
  position: absolute;
  top: 15%; /* Adjust the position to control the size of the transparent hole */
  left: 15%; /* Adjust the position to control the size of the transparent hole */
  width: 70%; /* Adjust the size to control the size of the transparent hole */
  height: 70%; /* Adjust the size to control the size of the transparent hole */
  background: conic-gradient(from 90deg, white 50%, white 50%),
              linear-gradient(to right, gray 50%, #53BD71 50%);
  border-radius: 50%;
  z-index: 0;
}


.saving_title {
  font-size: 1rem;
  font-weight: 550;
}


.saving_progress_green {
  color: #53BD71;
  font-size: 1.3rem;
}

.trip_container {
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
  margin-bottom: 1rem;
}