.sideNarbar_container {
  color: black; 
  display: flex;
  justify-content: space-around;
  width: 15rem;
}

.sidebar_container {
  width: 11%;
  margin-right: 5.5rem; 
}

.sidebar_content {
  margin-top: 8rem 
}

.sidebar_content_list {
  list-style-type: none;
  width: 10rem;
}

.sidebar_text {
  cursor: pointer;
  font-size: 16px;
  margin: 2rem 0;
  margin-right: 1rem;
  padding-left: 1rem;
  color: black;
  width: 10rem
}

.sidebar_text.selected,
.sidebar_text:hover {
  font-weight: bold;
  border-left: 3px solid black;
}

